<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/582e7c74d2.js" crossorigin="anonymous"></script>
    <title>Registrar usuario</title>
</head>

<div id="div_modal_search_suc">

    {% from "departamento/partials/modal_search_suc.jinja" import modal_search_suc %}
    {{ modal_search_suc(
            id = '1',
            element_destino='#sucursal_select_form',
            params_ubicacion={
                'filter_city' : '',
            }
        ) 
    }}

</div>

<body>

    {% include("partials/navbar.html") %}


    <div class="container">
        <h1 class="title is-4 has-text-centered">Registrar usuarios</h1>
    </div>


    <div class="container">
        <form action="/ssr/usuario/post" method="post">
            {% include("usuario/partials/form_usuario.html") %}

            <input class="button is-success" type="submit" value="send">
        </form>
    </div>



</body>



<script>
    let btnBuscar = document.getElementById("btnBuscar")
    btnBuscar.addEventListener('click', async (event) => {
        event.preventDefault()
        btnBuscar.classList.add("is-loading")
        // await get_paises(document.getElementById("div_modal_search_suc"))
        // await get_paises();
        await set_select_sucursal_modal();

        let modal_sucursal = document.getElementById('modal_search_suc');
        modal_sucursal.classList.add("is-active");
        // activate_btn_seleccionar()

        btnBuscar.classList.remove("is-loading")
    });
</script>

</html>