<div class="column is-one-quarter-desktop is-one-third-tablet is-full-mobile">

    <div class="card">
        <div class="card-content">
            <div class="container pb-2">
                <h1 class="title is-5 has-text-centered">${item["name"]}</h1>
            </div>
            <div class="content has-text-justified">
                ${item["description"]}
            </div>


            <!-- <div class=""> -->
            <div class="columns is-multiline">
                <!-- <div class="column is-full-mobile is-half-desktop"> -->
                <div class="column is-full py-0">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-globe"></i>
                        </span>
                        <span>${item["country"]}, ${item["city"]}</span>
                    </span>
                </div>
                <div class="column is-full py-0">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-location-dot"></i>
                        </span>
                        <span>${item["address"]}</span>
                    </span>
                </div>

            </div>

            <!-- Botones -->
            <div class="is-flex is-justify-content-start mt-3" style="width: 100%;">

                <a class="button is-dark is-small mx-1" href="/ssr/sucursal/get/${item['id']}">
                    <span class="icon" style="color: aqua;">
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </span>
                </a>
                <a class="button is-dark is-small mx-1" href="/ssr/sucursal/put/${item['id']}">
                    <span class="icon">
                        <i class="fa-solid fa-pen-to-square" style="color: yellow;"></i>
                    </span>
                </a>
                <a class="button is-dark is-small mx-1" href="/ssr/sucursal/delete/${item['id']}">
                    <span class="icon" style="color: orangered;">
                        <i class="fa-solid fa-trash-can"></i>
                    </span>
                </a>

            </div>
            <!-- Botones -->

        </div>
    </div>

</div>