{% macro search_sucursal(
    name_continent_usuario,
    id_pais_usuario,
    id_ciudad_usuario,
    container_sucursales,
    tag_num_results 
    ) 
%}
<nav class="breadcrumb mt-4 mb-0 ml-1" aria-label="breadcrumbs">
    <ul>
        <li>
            <a href="#" class="has-text-black">
                <span class="icon is-small">
                    <i class="fa-solid fa-earth-americas"></i>
                </span>
                <span id="brcContinent">America</span>
            </a>
        </li>
        <li>
            <a href="#" class="has-text-black">
                <span class="icon is-small">
                    <i class="fa-solid fa-flag"></i>
                </span>
                <span id="brcPais">Colombia</span>
            </a>
        </li>
        <li>
            <a href="#" class="has-text-black">
                <span class="icon is-small">
                    <i class="fa-solid fa-mountain-city"></i>
                </span>
                <span id="brcCiudad">Pasto</span>
            </a>
        </li>
        
    </ul>
</nav>

<div class="is-size-7 my-0">

    <span class="icon-text">
        <span class="icon"><i class="fa-solid fa-square-poll-vertical"></i></span>
        <span id="spanSucByCont">Continente</span>
    </span>

    <span class="icon-text">
        <span class="icon"><i class="fa-solid fa-square-poll-horizontal"></i></span>
        <span id="spanSucByPa">Pais</span>
    </span>

    <span class="icon-text">
        <span class="icon"><i class="fa-solid fa-chart-simple"></i></span>
        <span id="spanSucByCiu">Ciudad</span>
    </span>

    <span class="icon-text">
        <span class="icon"><i class="fa-solid fa-user"></i></span>
        <span id="spanUsuByCiu">Usuarios</span>
    </span>

</div>

<div class="field has-addons has-addons-centered my-3">
    <p class="control">
        <span class="select" id="spanSelectContinente">
            <select id="selectContinente">

            </select>
        </span>
    </p>
    <p class="control">
        <span class="select" id="spanSelectPais">
            <select id="selectPais">

            </select>
        </span>
    </p>
    <p class="control">
        <span class="select" id="spanSelectCiudad">
            <select id="selectCiudad">

            </select>
        </span>
    </p>
</div>


<script>
    let selectContinente = document.getElementById('selectContinente')
    let selectPais = document.getElementById('selectPais')
    let selectCiudad = document.getElementById('selectCiudad')

    selectContinente.addEventListener('change', (event) => {
        getPaisesByContinente(selectContinente.value)
    })
    selectPais.addEventListener('change', (event) => {
        getCiudadesByPais(selectPais.value)
    })
    selectCiudad.addEventListener('change', async (event) => {
        await generar_cards()
        updateBreadcumb()
        await updateStatistics()
    })
    async function generar_cards(){
        let container_sucursales = document.getElementById('{{container_sucursales}}')
        container_sucursales.innerHTML = `<progress class="progress is-small is-primary" max="100">15%</progress>`
        let res = await fetch(`/api/sucursal/get/by/ubicacion/${selectPais.value}/${selectCiudad.value}`)
        container_sucursales.innerHTML = ""
        if(res.status == 200){
            let data = await res.json()
            let results = 0;
            data.forEach( item => {
                let card_sucursal = `{% include('sucursal/partials/card_sucursal.html') %}`
                container_sucursales.innerHTML += card_sucursal
                results++
            })
            document.getElementById('{{tag_num_results}}').innerText = `${results} resultado(s) encontrado(s)`
        }

    }

    function updateBreadcumb(){
        let brcContinent = document.getElementById('brcContinent')
        let brcPais = document.getElementById('brcPais')
        let brcCiudad = document.getElementById('brcCiudad')

        brcContinent.innerText = selectContinente.options[selectContinente.selectedIndex].text
        brcPais.innerText = selectPais.options[selectPais.selectedIndex].text
        brcCiudad.innerText = selectCiudad.options[selectCiudad.selectedIndex].text
    }

    async function updateStatistics(){
        let spanSucByCont = document.getElementById('spanSucByCont')
        let spanSucByPa  = document.getElementById('spanSucByPa')
        let spanSucByCiu = document.getElementById('spanSucByCiu')
        let spanUsuByCiu = document.getElementById('spanUsuByCiu')

        let url = `/api/sucursal/sucursalstatistics?continent=${selectContinente.value}&country=${selectPais.value}&city=${selectCiudad.value}`
        let res = await fetch(url)

        if(res.status == 200){
            let data = await res.json()
            console.log(data)

            let continenteText = selectContinente.options[selectContinente.selectedIndex].text
            let paisText = selectPais.options[selectPais.selectedIndex].text
            let ciudadText= selectCiudad.options[selectCiudad.selectedIndex].text

            spanSucByCont.innerText = `${data["suc_by_cont"]} sucursal(es) en ${continenteText}`
            spanSucByPa.innerText = `${data["suc_by_pa"]} sucursal(es) en ${paisText}`
            spanSucByCiu.innerText = `${data["suc_by_ciu"]} sucursal(es) en ${ciudadText}`
            spanUsuByCiu.innerText = `${data["usu_by_ciu"]} usuario(s) en ${ciudadText}`
        }
    }


    async function getContientes() {
        selectContinente.innerHTML = ""
        document.getElementById('spanSelectContinente').classList.add('is-loading')

        let res = await fetch('/api/ubicacion/continente/get?filtrar=True')

        if (res.status == 200) {
            let data = await res.json()
            let continentes = data.continents
            let continente_usuario = "{{name_continent_usuario}}"
            console.log(continente_usuario)
            continentes.forEach(item => {
                let option = document.createElement('option')
                option.innerText = item
                option.value = item
                if(item == continente_usuario) { option.selected = true}
                selectContinente.appendChild(option)
            })

            await getPaisesByContinente(selectContinente.value)
        }

        document.getElementById('spanSelectContinente').classList.remove('is-loading')
    }

    async function getPaisesByContinente(contient) {
        selectPais.innerHTML = ""
        document.getElementById('spanSelectPais').classList.add('is-loading')

        let res = await fetch(`/api/ubicacion/pais/get/by/continente/${contient}?filtrar=True`)

        if (res.status == 200) {
            let paises = await res.json()
            let id_pais_usuario = "{{id_pais_usuario}}"

            paises.forEach(item => {
                let option = document.createElement('option')
                option.innerText = item.name
                option.value = item.id
                if(item.id == id_pais_usuario) { option.selected = true}
                selectPais.appendChild(option)
            })

            await getCiudadesByPais(selectPais.value)
        }

        document.getElementById('spanSelectPais').classList.remove('is-loading')
    }

    async function getCiudadesByPais(pais) {
        selectCiudad.innerHTML = ""
        document.getElementById('spanSelectCiudad').classList.add('is-loading')

        let res = await fetch(`/api/ubicacion/pais/get/${pais}/ciudades?filtrar=True`)
        if (res.status == 200) {
            let ciudades = await res.json()
            let id_ciudad_usuario = "{{id_ciudad_usuario}}"

            ciudades.forEach(item => {
                let option = document.createElement('option')
                option.innerText = item.name
                option.value = item.id
                if(item.id == id_ciudad_usuario) { option.selected = true}
                selectCiudad.appendChild(option)
            })
        }

        updateBreadcumb()
        await generar_cards()
        await updateStatistics()
        document.getElementById('spanSelectCiudad').classList.remove('is-loading')
    }

    getContientes()
</script>

{% endmacro %}