<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="/ssr/sucursal" width="60">
            <img src="/static/logo.png" alt="logo" width="60">
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">

            <a class="navbar-item" href="/ssr/home">
                Home
            </a>


            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/ssr/sucursal/get">
                    Zona
                    <span class="icon-text">
                        <span class="icon"> <i class="fa-solid fa-earth-africa" id="iconZone"></i> </span>
                    </span>
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" onclick="setZone('AF')">
                        <span>Africa</span>
                        <span class="icon-text">
                            <span class="icon"> <i class="fa-solid fa-earth-africa"></i> </span>
                        </span>
                    </a>
                    <a class="navbar-item" onclick="setZone('AM')">
                        <span>America 🇨🇴 </span>
                        <span class="icon-text">
                            <span class="icon"> <i class="fa-solid fa-flag-usa"></i> </span>
                        </span>
                    </a>
                    <a class="navbar-item" onclick="setZone('AS')">
                        <span>Asia</span>
                        <span class="icon-text">
                            <span class="icon"> <i class="fa-solid fa-sun"></i> </span>
                        </span>
                    </a>
                    <a class="navbar-item" onclick="setZone('AU')">
                        <span>Australia</span>
                        <span class="icon-text">
                            <span class="icon"> <i class="fa-solid fa-earth-oceania"></i> </span>
                        </span>
                    </a>
                    <a class="navbar-item" onclick="setZone('EU')">
                        <span>Europa</span>
                        <span class="icon-text">
                            <span class="icon"> <i class="fa-solid fa-euro-sign"></i> </span>
                        </span>
                    </a>

                    <!-- <hr class="navbar-divider"> -->
                    <!-- <a class="navbar-item" href="/ssr/sucursal/search"> Buscar </a> -->
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/ssr/sucursal/get"> Sucursales </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/ssr/sucursal/get"> Ver todo </a>
                    <a class="navbar-item" href="/ssr/sucursal/post"> Registrar </a>
                    <a class="navbar-item"> Editar </a>
                    <a class="navbar-item"> Eliminar </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="/ssr/sucursal/search"> Buscar </a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/ssr/sucursal/get"> Departamentos </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/ssr/departamento/post"> Registrar </a>
                    <a class="navbar-item" href="/ssr/sucursal/get"> Buscar </a>
                </div>
            </div>


            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/ssr/usuario/search"> Usuarios </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/ssr/usuario/post"> Registrar </a>
                    <a class="navbar-item" href="/ssr/usuario/search"> Buscar </a>
                    <!-- <a class="navbar-item" href="/ssr/usuario/get"> Get </a> -->
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/ssr/usuario/search"> Actividades </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/ssr/actividad/get/by/usuario/by/mes"> Este mes </a>
                    <a class="navbar-item" href="/ssr/actividad/post"> Registrar </a>
                    <a class="navbar-item" href="/ssr/actividad/get"> Ver Ant</a>
                </div>
            </div>

        </div>

        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/ssr/usuario/get/{{session_data['id']}}">
                    <span class="icon-text ">
                        <span class="icon is-large">
                            <i class="fas fa-circle-user fa-2x"></i>
                        </span>
                    </span>
                    <span>{{session_data['names']}}</span>
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/ssr/usuario/get/{{session_data['id']}}"> Perfil </a>
                    <a class="navbar-item" href="/ssr/auth/logout"> Cerrar Sesion </a>
                </div>
            </div>
            <div class="navbar-item"></div>

        </div>


    </div>
</nav>

<script>
    function setZone(zone) {
        let iconZone = document.getElementById('iconZone')
        if (zone === 'AF') { iconZone.className = "fa-solid fa-earth-africa"; }
        if (zone === 'AM') { iconZone.className = "fa-solid fa-flag-usa"; }
        if (zone === 'AS') { iconZone.className = "fa-solid fa-sun"; }
        if (zone === 'AU') { iconZone.className = "fa-solid fa-earth-oceania"; }
        if (zone === 'EU') { iconZone.className = "fa-solid fa-euro-sign"; }
    }
</script>