{% from 'sucursal/partials/search_sucursal.jinja' import search_sucursal %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/582e7c74d2.js" crossorigin="anonymous"></script>
    <title>Sucursales</title>
</head>

<body>

    {% include("partials/navbar.html") %}

    <div class="container">
        {{ search_sucursal(name_continent_usuario, id_pais_usuario, id_ciudad_usuario, "container_sucursales", "numResults") }}
    </div>
    
    <div class="container">


        
        <div class="container my-5">
            <h1 class="title is-4 has-text-centered my-2">Sucursales</h1>
        </div>

        {% if error %}
        <div class="container">
            {% include('sucursal/partials/error.html') %}
        </div>
        {% else %}

        <div class="container">
            <div class="columns is-multiline" id="container_sucursales">                
            </div>
        </div>

        {% endif %}

        <br><br>
        <div class="container">
            <p class="has-text-centered" id="numResults"></p>
        </div>



    </div>

</body>

</html>