{% from 'sucursal/partials/search_sucursal.jinja' import search_sucursal %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/582e7c74d2.js" crossorigin="anonymous"></script>
    <title>Sucursales</title>
</head>

<body>

    {% include("partials/navbar.html") %}
    {{ search_sucursal() }}

    <div class="container">


        
        <div class="container my-5">
            <h1 class="title is-4 has-text-centered my-2">Sucursales</h1>
        </div>

        {% if error %}
        <div class="container">
            {% include('sucursal/partials/error.html') %}
        </div>
        {% else %}

        <div class="container">
            <div class="columns is-multiline">

                {% for sucursal in sucursales %}
                {% include('sucursal/partials/card_sucursal.html') %}
                {% endfor %}

            </div>
        </div>

        {% endif %}


        <div class="container my-2">
            <p class="has-text-centered">{{lenght}} resultado(s) encontrado(s)</p>
        </div>



    </div>

    <br><br><br><br><br><br>

    <div class="container">

        <div class="columns is-multiline">

            <div class="column is-4">

                <div class="card p-3">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://img.freepik.com/vector-premium/mapa-europa-gris-sobre-fondo-blanco_250246-451.jpg"
                                alt="Placeholder image" />
                        </figure>
                    </div>
                    <div class="card-content">
                        <span class="icon-text has-background-dark">
                            <span class="icon" style="color: white;"> <i class="fa-solid fa-earth-europe"></i> </span>
                            <span class="has-text-white">Europa</span>
                        </span>

                        <span class="icon-text">
                            <span class="icon"> <i class="fa-solid fa-flag"></i> </span>
                            <span>0 Paises</span>
                        </span>

                        <span class="icon-text">
                            <span class="icon"> <i class="fa-solid fa-industry"></i> </span>
                            <span>2 Sucursales</span>
                        </span>

                        <span class="icon-text">
                            <span class="icon"> <i class="fa-solid fa-user-check"></i> </span>
                            <span>300 empleados</span>
                        </span>

                        <br>
                        <button class="button is-dark is-fullwidth">Europa</button>

                    </div>
                </div>
            </div>

            <div class="column is-4">

                <div class="card p-3">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://png.pngtree.com/png-clipart/20230915/original/pngtree-north-and-south-america-map-states-north-icon-vector-png-image_12187955.png"
                                alt="Placeholder image" />
                        </figure>
                    </div>
                    <div class="card-content">
                        <span class="icon-text">
                            <span class="icon"> <i class="fa-solid fa-earth-europe"></i> </span>
                            <span>América</span>
                        </span>

                        <span class="icon-text">
                            <span class="icon"> <i class="fa-solid fa-flag"></i> </span>
                            <span>0 Paises</span>
                        </span>

                        <span class="icon-text">
                            <span class="icon"> <i class="fa-solid fa-industry"></i> </span>
                            <span>2 Sucursales</span>
                        </span>

                        <span class="icon-text">
                            <span class="icon"> <i class="fa-solid fa-user-check"></i> </span>
                            <span>300 empleados</span>
                        </span>

                        <br>
                        <button class="button is-dark is-fullwidth">America</button>

                    </div>
                </div>
            </div>

            <div class="column is-4">

                <div class="card p-3">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://static.vecteezy.com/system/resources/thumbnails/027/126/507/small_2x/africa-blank-map-africa-map-template-african-silhouette-grey-map-africa-african-continent-png.png"
                                alt="Placeholder image" />
                        </figure>
                    </div>
                    <div class="card-content">
                        <span class="icon-text">
                            <span class="icon"> <i class="fa-solid fa-earth-europe"></i> </span>
                            <span>Africa</span>
                        </span>

                        <span class="icon-text">
                            <span class="icon"> <i class="fa-solid fa-flag"></i> </span>
                            <span>0 Paises</span>
                        </span>

                        <span class="icon-text">
                            <span class="icon"> <i class="fa-solid fa-industry"></i> </span>
                            <span>2 Sucursales</span>
                        </span>

                        <span class="icon-text">
                            <span class="icon"> <i class="fa-solid fa-user-check"></i> </span>
                            <span>300 empleados</span>
                        </span>

                        <br>
                        <button class="button is-dark is-fullwidth">AFRICA</button>

                    </div>
                </div>
            </div>

            <div class="column is-4">

                <div class="card p-3">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://img.freepik.com/vector-premium/mapa-asia-paises_842931-1220.jpg?semt=ais_hybrid"
                                alt="Placeholder image" />
                        </figure>
                    </div>
                    <div class="card-content">
                        <span class="icon-text">
                            <span class="icon"> <i class="fa-solid fa-earth-europe"></i> </span>
                            <span>Asia</span>
                        </span>

                        <span class="icon-text">
                            <span class="icon"> <i class="fa-solid fa-flag"></i> </span>
                            <span>0 Paises</span>
                        </span>

                        <span class="icon-text">
                            <span class="icon"> <i class="fa-solid fa-industry"></i> </span>
                            <span>2 Sucursales</span>
                        </span>

                        <span class="icon-text">
                            <span class="icon"> <i class="fa-solid fa-user-check"></i> </span>
                            <span>300 empleados</span>
                        </span>

                        <br>
                        <button class="button is-dark is-fullwidth">ASIA</button>

                    </div>
                </div>
            </div>

            <div class="column is-4">

                <div class="card p-3">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://cdn.pixabay.com/photo/2014/04/02/14/10/australia-306393_1280.png"
                                alt="Placeholder image" />
                        </figure>
                    </div>
                    <div class="card-content">

                        <span class="icon-text">
                            <span class="icon"> <i class="fa-solid fa-earth-europe"></i> </span>
                            <span>Australia</span>
                        </span>

                        <span class="icon-text">
                            <span class="icon"> <i class="fa-solid fa-flag"></i> </span>
                            <span>0 Paises</span>
                        </span>

                        <span class="icon-text">
                            <span class="icon"> <i class="fa-solid fa-industry"></i> </span>
                            <span>2 Sucursales</span>
                        </span>

                        <span class="icon-text">
                            <span class="icon"> <i class="fa-solid fa-user-check"></i> </span>
                            <span>300 empleados</span>
                        </span>

                        <br>
                        <button class="button is-dark is-fullwidth">AUSTRALIA</button>

                    </div>
                </div>
            </div>



        </div>


    </div>

</body>

</html>