<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/582e7c74d2.js" crossorigin="anonymous"></script>
    <title>Registrar Sucursal</title>
</head>

<body>

    {% include("partials/navbar.html") %}

    <form action="/ssr/sucursal/post" method="post">
        <div class="is-flex is-justify-content-center is-align-items-center" style="width: 100vw;">


            <div class="fixed-grid has-1-cols" style="width: 32%;">

                <div class="grid">

                    <div class="cell">
                        <h1 class="title is-4 has-text-centered my-2">Registrar Sucursal</h1>
                    </div>
                    <div class="cell">
                        {% include("sucursal/partials/form_sucursal.html")%}
                        <div class="">
                            <!-- <button type="submit" class="button is-primary is-fullwidth is-inverted" value="Registrar"> -->
                            <button type="submit" class="button is-dark is-fullwidth" value="Registrar">
                                <span class="icon"><i class="fa-solid fa-circle-check" style="color: lime;"></i></span>
                                <span>Registrar</span>
                            </button>

                        </div>
                    </div>


                    {% if error %}
                    <div class="cell">
                        {% include("sucursal/partials/error.html") %}
                    </div>
                    {% endif %}


                </div>

            </div>


        </div>
    </form>


</body>

</html>