{% from 'actividad/partials/info_user.jinja' import  info_user %}
{% from 'actividad/partials/calendar/card_day.jinja' import card_day %}
{% from 'actividad/partials/calendar/task_card.jinja' import task_card %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/582e7c74d2.js" crossorigin="anonymous"></script>
    <title>Actividades por mes</title>
</head>

<body>
    {% include('partials/navbar.html') %}

    <!-- INFO USER -->
    {{ info_user(type_input_date='month') }}
    <!-- INFO USER -->


    <div class="fixed-grid has-7-cols my-2">
        <div class="grid">

            <div class="cell">
                <p class="has-text-centered has-text-weight-bold ">Lunes</p>
            </div>
            <div class="cell">
                <p class="has-text-centered has-text-weight-bold ">Martes</p>
            </div>
            <div class="cell">
                <p class="has-text-centered has-text-weight-bold ">Miercoles</p>
            </div>
            <div class="cell">
                <p class="has-text-centered has-text-weight-bold ">Jueves</p>
            </div>
            <div class="cell">
                <p class="has-text-centered has-text-weight-bold ">Viernes</p>
            </div>
            <div class="cell">
                <p class="has-text-centered has-text-weight-bold ">Sabado</p>
            </div>
            <div class="cell">
                <p class="has-text-centered has-text-weight-bold ">Domingo</p>
            </div>

        </div>
    </div>

    <div class="fixed-grid has-7-cols my-2">
        <div class="grid is-gap-0.5" id="calendar">
        </div>
    </div>


</body>

<script>
    let id_user = '{{id_user}}'
    let calendar = document.getElementById('calendar');

    // -------------CALENDAR
    async function getActividades(id_user, month = (new Date().getMonth() + 1), year = (new Date().getFullYear())) { //mes de 1 a 12
        calendar.innerHTML = ""
        let res = await fetch(`/api/actividad/get/by/usuario/by/mes?id_user=${id_user}&month=${month}`)
        if(res.status !== 200 ) alert("Error, no se puedieron cargar las sucursales")
        let data = res.status === 200 ? await res.json() : [];

        let initDate = new Date(year, month - 1)
        let before_days = initDate.getDay() == 0 ? 7 : initDate.getDay();

        // DIAS DEL MES ANTERIOR
        for (let j = before_days - 1; j > 0; j--) {
            let day = new Date(year, month - 1); day.setDate(day.getDate() - j);

            let resDay = await fetch(`/api/actividad/get_by_usuario_by_dia?id_user=${id_user}&date=${day.getFullYear()}/${day.getMonth() + 1}/${day.getDate()}`)
            let actividades = resDay.status === 200 ? await resDay.json() : []
            calendar.innerHTML += generateCardDay(day, actividades)
        }

        // DIAS DEL MES SELECCIONADO
        for (let i = 0; i < 32; i++) {
            if (initDate.getMonth() !== month - 1) break
            calendar.innerHTML += generateCardDay(initDate, data)
            initDate.setDate(initDate.getDate() + 1)
        }
    }

    function generateCardDay(date, data) {
        let tareas =""
        let coincidencias = 0;
        let limit_by_day = 3;

        data.forEach(item => {
            if (date.toDateString() === new Date(item.date).toDateString()) {
                coincidencias++
                if (coincidencias <= limit_by_day) {tareas += `{{ task_card('${item.id}','${item.title}')}}`}
            }
        })
        if (coincidencias > limit_by_day) {
            let dayref = parseInt(date.getDate())<10 ? `0${date.getDate()}` : date.getDate()
            let monthref = parseInt(date.getMonth()+1)<10 ? `0${date.getMonth()+1}` : date.getMonth()+1
            let dateref = `${date.getFullYear()}/${monthref}/${dayref}`
            tareas += `<a class='is-size-7' href='/ssr/actividad/get/by/usuario/by/date?date=${dateref}'>Ver mas</a>`
        }

        let fecha = `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`

        return `{{ card_day(fecha='${fecha}', tareas = '${tareas}') }} `
    }

    getActividades(id_user)

    // ----------- INFO_USER
    add_info_user_event('change', (event) =>{
        let fecha = new Date(event.target.value.replace('-', '/') + "/01")
        let [year, month] = event.target.value.split('-')

        getActividades(id_user, fecha.getMonth() + 1, year)
    })
    add_info_user_event('onLoad', (element) =>{
        element.value = `${new Date().getFullYear()}-${new Date().getMonth() + 1}`
        info_user(id_user)
    })


</script>


</html>